{% extends 'base.html' %}

{% block header %}
{% block title %}Dashboard{% endblock %}
{% endblock %}

{% block content %}

<p>
<h4 class="title is-4 ">Create New List</h4>
<form method="post">
	{{ form.csrf_token }}
	<div class="field has-addons">
		<div class="control has-icons-left is-expanded">
			{{ form.listname(class='input' + (' is-danger' if form.listname.errors else ''), placeholder="my-fancy-listname",
				value=((form.listname.errors and form.listname.data|e) or ''))
			}}
			<span class="icon is-small is-left">
				<i class="fas fa-mail-bulk"></i>
			</span>
		</div>
		<div class="control">
			<a class="button is-static">
				@{{ g.conn.domain }}
			</a>
		</div>
	</div>

	<div class="field is-grouped is-grouped-left">
		<div class="control">
			<button type="submit" class="button is-primary">
				Create!
			</button>
		</div>
	</div>
</form>
</p>

{% if memberships  %}
<p>
<h4 class="title is-4">Your Memberships</h4>

{% for list_id, hash_id, is_owner in memberships %}
<form>
	<div class="box">
		<div class="columns">
			<div class="column">
				<a class="is-family-code wrappable-list-id" href="{{ url_for('change_membership.index', hash_id=hash_id) }}">
					{{ g.conn.fqdn_ize(list_id) }}
				</a>
			</div>
			{% if is_owner %}
			<div class="column is-4 has-text-right">
			<a class="tag is-black" title="Open Admin Page" href="{{ url_for('manage_list.index', list_id=list_id) }}">
				Manage List
			</a>
			</div>
			{% endif %}
		</div>
	</div>
</form>
{% endfor %}

</p>
{% endif %}

{% endblock %}