{% extends 'base.html' %}

{% block additional_static_files %}
{% if config.BRAND_BULMA_SWITCH_URL %}
	<link rel="stylesheet" href="{{ config.BRAND_BULMA_SWITCH_URL }}">
{% else %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bulma-switch.1.0.2.min.css') }}">
{% endif %}
<script src="{{ url_for('static', filename='js/tenca_manage_list.js') }}"></script>
{% endblock %}


{% block header %}
{% block title %}Manage List{% endblock %}
{% endblock %}

{% block content %}
{% import '_macros.html' as tenca_macros %}

<p>This is the admin view for the owners of {{ tenca_macros.css_codify(mailing_list.fqdn_listname) }}.</p>

<h4 class="title is-4">Invite Link</h4>

<p>Share this link to invite new members: </p>
<p>
{{ tenca_macros.copyable_link_box('invite_link', url_for('change_membership.index', hash_id=mailing_list.hash_id, _external=True)) }}
</p>

<h4 class="title is-4">Options</h4>
<script type="text/javascript">
	var csrf_token = "{{ csrf_token() }}";
</script>
<p>
{% for name, description, value in list_bool_options %}
	<div class="columns">
		<div class="column">
			{{ description }}
		</div>
		<div class="column is-3 has-text-right">
			<div class="field">
				<input id="switch-{{ name }}" data-tenca-target="{{ url_for('.options', list_id=mailing_list.list_id) }}" type="checkbox" name="{{ name }}" class="switch is-rounded tenca-list-option" {{ ' checked' if value else '' }}>
				<label for="switch-{{ name }}"></label>
			  </div>
		</div>
	</div>
{% endfor %}
<div id="switch-error-modal" class="modal">
	<div class="modal-background"></div>
	<div class="modal-content">
		<article class="message is-warning">
			<div class="message-body">
				Error applying your changes.
				<div class="buttons is-right">
					<button class="button is-warning modal-inner-close" aria-label="close">OK</button>
				</div>
			</div>
		</article>
	</div>
	<button class="modal-close is-large" aria-label="close"></button>
</div>
</p>


<h4 class="title is-4">Members</h4>
<p>

{% for address, (is_owner, is_blocked) in mailing_list.get_roster() %}
<form action="{{ url_for('.index', list_id=mailing_list.list_id) }}" method="post">
	{{ delete_list_form.csrf_token() }}
	<div class="box">
		<div class="columns">
			<div class="column">
				{{ tenca_macros.css_codify(address) }}
			</div>
			<div class="column is-5 has-text-right">
				<input name="member_address" type="hidden" value="{{ address }}">
				<button name="{{ 'demote_member' if is_owner else 'promote_member' }}" class="button icon is-primary{{ '' if is_owner else 'is-outlined' }}" title="{{ 'Demote from Owner' if is_owner else 'Promote to Owner' }}" type="submit">
					<i class="fas fa-user{{'-cog' if is_owner else ''}} fa-xs"></i>
				</button>
				<button name="{{ 'unblock_member' if is_blocked else 'block_member' }}" class="button icon is-primary{{ '' if not is_blocked else 'is-outlined' }}" title="{{ 'Unblock Member' if is_blocked else 'Block Member' }}" type="submit">
					<i class="fas fa-comment{{'-slash' if is_blocked else ''}} fa-xs"></i>
				</button>
				<button name="remove_member" class="button icon is-danger" title="Remove Member" type="submit">
					<i class="fas fa-trash fa-xs"></i>
				</button>
			</div>
		</div>
	</div>
</form>
{% endfor %}
</p>

<h4 class="title is-4">Delete List</h4>
<p>

<form action="{{ url_for('.delete', list_id=mailing_list.list_id) }}" method="post">
	{{ delete_list_form.csrf_token() }}
	<p>This permanently deletes all memberships and settings.
	Please, type the list's address in all-caps ({{ tenca_macros.css_codify(mailing_list.fqdn_listname, other_classes="is-uppercase", other_attrs='id=confirmation_reference') }}) to confirm:</p>

	<div class="field has-addons">
		<div class="control is-expanded">
		  <input id="confirmation_phrase" class="input" name="confirmation_phrase" placeholder="Type in upper-case address to confirm">
		</div>
		<div class="control">
		  <button id="delete_submit" class="button is-danger" name="delete_submit" title="Permanently Delete List" type="submit" disabled>
			Delete
		  </button>
		</div>
	  </div>
</form>
</p>


{% endblock %}