{% extends 'base.html' %}

{% block header %}
{% block title %}Change Membership{% endblock %}
{% endblock %}

{% block content %}

{% import '_macros.html' as tenca_macros %}

<p>Enter the e-mail address you want to un-/subscribe from/to {{ tenca_macros.css_codify(mailing_list.fqdn_listname) }}.</p>

<form method="post">
	{{ form.csrf_token }}
	<div class="field">
	    {{ form.email.label(class='label') }}
		<div class="control has-icons-left has-icons-right">
			{{ form.email(class='input' + (' is-danger' if form.email.errors else ''), placeholder=form.email.label.text,
				value=((form.email.errors and form.email.data|e) or (g.oidc.user_loggedin and g.oidc.user_getfield('email'))  or ''))
			}}
			<span class="icon is-small is-left">
				<i class="fas fa-envelope"></i>
			</span>
			{% if form.email.errors %}
			<span class="icon is-small is-right">
				<i class="fas fa-exclamation-triangle"></i>
			</span>
			{% endif %}
		</div>
		{% if form.email.errors %}
		<p class="help is-danger">
			{% for error in form.email.errors %}
			<span>{{ error }}</span>
			{% endfor %}
		</p>
		{% endif %}
	</div>

	<div class="field is-grouped is-grouped-left">
		<div class="control">
			<button type="submit" class="button is-primary">
				Un-/subscribe!
			</button>
		</div>
	</div>
</form>

{% endblock %}